{% extends "base.html" %}

{% block title %}Магазин{% endblock %}

{% block content %}
<h1 style="text-align: center; font-size: 42px; margin-bottom: 15px; margin-top: 20px;">Магазин</h1>

<div class="container">
    {% if products %}
        <div class="products">
            {% for item in products %}
            <div class="card">
                <img src="{{ item['image'] or 'https://via.placeholder.com/300x300' }}" alt="Product Image">

                <div class="card_info">
                    <h2 class="product-title">{{ item['name'] }}</h2>
                    <p class="product-specs">{{ item['specifications'] }}</p>

                    <div class="card_inner">
                        <h1>{{ item['price'] }} грн</h1>
                        <form action="{{ url_for('products.add_to_cart', product_id=item['id']) }}" method="post">
                            <button type="submit">В кошик</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p style="text-align: center;">Наразі немає продуктів у магазині.</p>
    {% endif %}
</div>
{% endblock %}
