{% extends "base.html" %}

{% block title %}Реєстрація{% endblock %}
{% block content %}

<body>
    <div class="register-container">
        <form class="register-form" method="POST">
            <h2>Реєстрація</h2>
            <div>
                <input type="text" id="username" name="username" required placeholder="Ім'я користувача">     
            </div>

            <div>
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>

            <div>
                <input type="password" id="password" name="password" required placeholder="Пароль">
            </div>

            <div>
                <input type="password" id="confirm_password" name="confirm_password" required placeholder="Підтвердіть пароль">
            </div>
            
            <button type="submit">Зареєструватися</button>
            <div class="or">або</div>
            <a href="#">Увійти</a>
        </form>
    </div>
</body>


{% endblock %}